/* ==========================================================================
   STYLES: Default definitions

   Common default definitions.
   Edit carefully.
   ========================================================================== */

// Core
html {
  display: flex;
  flex: 1;
  font-size: 62.5%;
}

body {
  position: relative;
  display: flex;
  flex: 1;
  min-width: grid.$min-width;
  min-height: grid.$min-height;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all grid.$transition;
}

#__nuxt {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

// Links
a {
  transition: color grid.$transition, opacity grid.$transition;
  text-decoration: none;
  outline: 0;

  &:active,
  &.router-link-exact-active,
  &:disabled {
    cursor: default;
  }
}

// Forms
button,
input,
select {
  outline: 0;
}

button:not(:disabled),
input:not(:disabled),
select:not(:disabled) {
  cursor: pointer;
}

// Selection Highlight
::selection {
  background-color: colors.$bg-selection;
  color: colors.$font-selection;
  text-shadow: none;
}

// Fade + Blur Transition
.page-enter-active,
.page-leave-active {
  transition: all grid.$transition;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
