/* ==========================================================================
   Grid System / Sections / Containers

   Imported through nuxt.config.ts as @use directive
   Usage: grid.$var
   ========================================================================== */

// Main Dimensions
$min-width: 320px;
$min-height: 100vh;
$gap: 1.6rem;

// Borders
$border-radius: 8px;
$border-solid: solid 1px;

// Transitions
$transition: 0.5s ease;
