/* ==========================================================================
   VARIABLES: Grid System / Dimensions / Heplers

   Imported through ./vite.config.ts as @use directive
   Usage: grid.$var
   ========================================================================== */

// Main Dimensions
$min-width: 320px;
$min-height: 100vh;
$gap: 1.6rem;

// Borders
$border-radius: 8px;
$border-solid: solid 1px;
$border-app: 20px;

// Z-Indexes
$zindex-top: 90000;
$zindex-border-app: 20000;

// Transitions
$transition: 0.3s ease-in-out;
