/* ==========================================================================
   VARIABLES: Color Library

   Imported through ./vite.config.ts as @use directive
   Usage: colors.$var
   ========================================================================== */

// Color Presets
$white: #fff;
$black: #000;
$grey: #999;
$red: #eb5757;

// Typo Colors
$font-main: #121212;
$font-black: #121212;
$font-selection: $white;
$font-grey: #dbdbdb;

// Links
$link-main: #41b883;
$link-main-hover: #34495e;
$link-main-active: #000;

// Backgrounds
$bg-main: $white;
$bg-border-app: #efefef;
$bg-selection: #73bbc5;

// Helpers
$selection-bg: #b3d4fc;

// FROM BACK

// Input
$input-bg-dark: rgba(0, 189, 111, 0.75);
$input-bg-dark-hover: rgba(0, 189, 111, 0.5);
$font-white: #efefef;
