/* ==========================================================================
   VARIABLES: Color Library

   Imported through vite.config.ts as @use directive
   Usage: colors.$var
   ========================================================================== */

// Color Presets
$white: #fff;
$black: #000;
$grey: #999;

// Typo Colors
$font-main: #121212;
$font-black: #121212;
$font-selection: #fff;
$font-grey: #dbdbdb;

// Links
$link-main: #00bd6f;
$link-main-hover: #3f3f46;
$link-main-active: #000;

// Backgrounds
$bg-body: #fff;
$bg-border-app: #efefef;
$bg-selection: #73bbc5;

// Helpers
$selection-bg: #b3d4fc;
