/* ==========================================================================
   STYLES: Theme

   Main App Theme.
   Feel free to customize your app ^-^
   ========================================================================== */

// Core
body {
  font-family: "Ubuntu", sans-serif;
  overflow-y: scroll;
}

// App Border
html,
body {
  &::before,
  &::after {
    content: "";
    backface-visibility: hidden;
    position: fixed;
    z-index: grid.$zindex-border-app;
  }
}

html {
  &:after,
  &:before {
    top: 0;
    height: 100%;
    width: grid.$border-app;

    @media screen and (max-width: 800px) {
      width: calc(grid.$border-app / 2);
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

body {
  padding: grid.$border-app;

  &::after,
  &::before {
    left: 0;
    width: 100%;
    height: grid.$border-app;

    @media screen and (max-width: 800px) {
      height: calc(grid.$border-app / 2);
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media screen and (max-width: 800px) {
    padding: calc(grid.$border-app / 2);
  }
}

html.mode-dark,
.mode-dark body {
  color: colors.$font-main-dark;
  background-color: colors.$bg-body-dark;

  &::before,
  &::after {
    background-color: colors.$bg-border-app-dark;
  }
}

html.mode-light,
.mode-light body {
  color: colors.$font-main-light;
  background-color: colors.$bg-body-light;

  &::before,
  &::after {
    background-color: colors.$bg-border-app-light;
  }
}

// Containers
.page {
  display: flex;
  flex-direction: row;
  flex: 1;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  &-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: grid.$gap;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}

// Links
a {
  color: colors.$link-main;
}

.mode-dark a {
  &:hover,
  &:focus {
    color: colors.$input-bg-dark-hover;
  }

  &:active,
  &.router-link-exact-active {
    color: colors.$font-white;
  }
}

.mode-light a {
  &:hover,
  &:focus {
    color: colors.$font-black;
  }

  &:active,
  &.router-link-exact-active {
    color: colors.$font-black;
  }
}

// Icons
.mode-dark .icon {
  color: colors.$font-main-dark;
}

.mode-light .icon {
  color: colors.$font-main-light;
}

// Typo
h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
}
