/* ==========================================================================
   MIXIN: Imported WebFonts

   Global fonts import from /assets/fonts folder.
   ========================================================================== */

@mixin font($name, $style, $weight, $url) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: local($name), url("@/assets/fonts/" + $url) format("woff2");
    font-display: swap;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
}

@include font("Ubuntu", normal, 400, "ubuntu-regular.woff2");
@include font("Ubuntu", normal, 700, "ubuntu-bold.woff2");
